/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/ui/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_navbar__oEbwr {
  flex: 1;
  background-color: orange;
  height: 100px;
}
